<main class="main">
  <div class="container">


  <header>
    <h2>Gruds</h2>
    <p>Product Management system</p>
  </header>
  <form class="input" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <input type="text" name="title" ngModel #title="ngModel" [(ngModel)]="title1"  required   id="title" placeholder="title">

    <ng-container  *ngIf="title.invalid && title.touched">
      <small class="error" *ngIf="title.errors?.['required']">Title is Required</small>
    </ng-container>
    <div class="price">
      <input type="number" name="price"  ngModel #price="ngModel" [(ngModel)]="price1"  required  id="price" placeholder="price">
      <ng-container  *ngIf="price.invalid && price.touched">
        <small class="error" *ngIf="price.errors?.['required']">Price is Required</small>
      </ng-container>
      <input type="number" name="taxes" ngModel  #taxes="ngModel" [(ngModel)]="taxes1"  required  id="taxes" placeholder="taxes">
      <ng-container  *ngIf="taxes.invalid && taxes.touched">
        <small class="error" *ngIf="taxes.errors?.['required']">Taxes is Required</small>
      </ng-container>
      <input type="number" name="ads" ngModel #ads="ngModel" [(ngModel)]="ads1"  required  id="ads" placeholder="ads">
      <ng-container  *ngIf="ads.invalid && ads.touched">
        <small class="error" *ngIf="ads.errors?.['required']">Ads is Required</small>
      </ng-container>
      <input type="number" name="discount" ngModel #discount="ngModel" [(ngModel)]="discount1"  id="discount" placeholder="discount">
      <small id="total" [ngClass]="{'success':this.price1 != 0 , 'error2':this.price1 == 0 || this.price1 === undefined || this.price1 === null }">{{getTotal()}}</small>
    </div>
    <input type="text" name="count" ngModel #count="ngModel" required  [(ngModel)]="count1"  id="count" placeholder="count">
    <ng-container  *ngIf="count.invalid && count.touched">
      <small class="error" *ngIf="count.errors?.['required']">Count is Required</small>
    </ng-container>
    <input type="text" name="category" ngModel #cato="ngModel" [(ngModel)]="catogery1"  required id="category" placeholder="category">

    <ng-container  *ngIf="cato.invalid && cato.touched">
      <small class="error" *ngIf="cato.errors?.['required']">Catogery is Required</small>
    </ng-container>
    <button id="create" type="submit" [ngClass]="{'bg_color_cr':modebtn,'bg_color_up':modebtn == false}">{{modebtn?'Create': 'Update'}}</button>
  </form>

  <div class="output">
    <input type="search" id="search" placeholder="search" #inpser (input)="SearchInput(inpser.value)">
    <div class="btns_ser">
      <button id="ser_title"  (click)="SearchByTitle()">Search By title</button>
      <button id="ser_categry"  (click)="SearchByCatogery()">Search By category</button>
    </div>
    <div id="deleteAll">

    </div>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>title</th>
          <th>price</th>
          <th>taxes</th>
          <th>ads</th>
          <th>discount</th>
          <th>total</th>
          <th>category</th>
          <th>update</th>
          <th>delete</th>
        </tr>
      </thead>
      <div class="line"></div>
    <tbody id="tbody1">
      <td *ngIf="filter.length === 0" colspan="10" style="font-size: 20px; padding: 20px;">No Data</td>
      <tr *ngFor="let pro of filter; let i = index">

        <td>{{i+1}}</td>
        <td>{{this.pro.valinp.title}}</td>
        <td>{{this.pro.valinp.price}}</td>
        <td>{{this.pro.valinp.taxes}}</td>
        <td>{{this.pro.valinp.ads}}</td>
        <td>{{this.pro.valinp.discount}}</td>
        <td>{{this.pro.valtotal}}</td>
        <td>{{this.pro.valinp.category}}</td>
        <td class="upd"><button type="button" (click)="updateData(i)">Update</button></td>
        <td class="del"><button type="button" (click)="DeleteDate(i)">delete</button></td>
        <div class="line"></div>
      </tr>




    </tbody>
    </table>
  </div>
</div>
</main>
